dcgan/data
data
*.pyc
OpenNMT/data
cpp/mnist/build
cpp/dcgan/build
dcgan/*.png
dcgan/*.pth
snli/.data
snli/.vector_cache
snli/results
word_language_model/model.pt
fast_neural_style/saved_models
fast_neural_style/saved_models.zip

# vi backups
*~
