# Python dependencies required for running the example

--pre
--extra-index-url https://download.pytorch.org/whl/nightly/cu118
--extra-index-url https://download.pytorch.org/whl/nightly/cu121
torch >= 2.2.0.dev0; sys_platform == "linux"
